/* -----------Importing fonts----------- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/* Variables */

/* Global */

html {
    font-size: 15px;
    scroll-behavior: smooth;
    
}

body {
    min-height: 100vh;
    margin: 0px;
}

main {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
}

/* Headings */

.h1 {
    font-family: 'roboto mono', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 4px 4px #c1beba;
}

.h1::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: -30px;
    margin-bottom: -15px; 
    box-shadow: 2px 4px 4px #c1beba;
}

.h1-1::before {
    background-color: #F48484;
}

.h1-2::before {
    background-color: #8099F4;
}

.h1-3::before {
    background-color: #F2AE49;
}

.h1-4::before {
    background-color: #DAA7EC;
}

.h1-5::before {
    background-color: #95D086;
}

.h3-h {
    text-transform: uppercase;
}

.h4-h {
    text-transform: uppercase;
    color: #95D086;
}

/* -----------Header----------- */

header {
    font-family: "roboto flex", Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*logo*/

.logo {
    max-width: 250px;
    margin-left: 10px;
    margin-top: 20px;
}

/*Nav*/

.links a {
    position: static;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    margin: 30px 20px;
    font-family: "roboto flex";
}

.icons i {
    padding: 20px 0px;
    margin: 30px 20px;
}

/* Hamburger menu*/

.hidden {
    display: none;
}

.nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .nav {
  display: block;
}

.hamburger-menu {
  display: none;
}

/*active indicator*/

.active {
    background-color: #95D086;
}

header .navbar .links a:hover {
    color: #95D086;
    text-decoration: underline;
}



/* -----------Home----------- */
/*section1*/

.slogan {
    display: flex;
    max-width: 600px;
    padding: 50px;
    margin: auto;
}

/*section2*/

.introhome {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #F2AE49;
    color: #fff;
    box-shadow: 4px 4px 10px 4px #c1beba;
}


.h1home {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 4px 4px #c1beba; 
}


.row {
    grid-row: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: -80px 100px 40px;
}

.column {
    display: contents;
}

.intro {
    line-height: 2;
    font-size: 20px;
    padding: 40px;
}

.dinosaur {
    max-width: 80%;
}

/*section3*/

.h2home {
    margin-left: 88px;
    padding: 10px;
    font-size: 40px;
    color: #95D086;
    font-weight: 400;
}

.h2home1 {
    margin-bottom: 40px;
}

.h2home2 {
    text-align: center;
    margin-left: 220px;
    margin-bottom: 40px;
}

.info {
    font-size: 18px;
    line-height: 2;
    margin: auto;
}


.imghome {
    max-width: 40%;
    box-shadow: 2px 4px 4px #c1beba;
    margin: 40px auto;
}

hr {
    border: 1.5px solid #F2AE49;
    max-width: 90%;
}

/*section4*/

.roundimage {
    box-sizing: border-box;
    object-fit: contain;
    padding: 15px;
    border-radius: 50%;
    max-width: 100px;
}

/* -----------Footer----------- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 10px;
}

.footer-row {
    flex-basis: 100%;
    text-align: left;
    margin-top: 20px;
}

footer p, i {
    margin: 10px;
    letter-spacing: 1px;
}

.fheading {
    font-family: "roboto flex", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.footericons {
    display: flex;
    color: #95D086;
    margin-left: 15px;
}

.subscribe-input {
    height: 20px;
    min-width: 200px;
    margin: 5px 0px;
    border-radius: 5px;
}

form {
    margin-top: 10px;
}

/* buttons*/

/* button footer*/

.cta-footer {
    background-color: #95D086;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100px;
    margin: 5px;
}
